/* Estructura general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 35px;
    color: #0099cc;
    text-align: left;
    padding-left: 20px;
}

h2 {
    text-align: right;
    font-size: 24px;
    color: #0099cc;
    margin-top: 30px;
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Contenedor principal que organiza menú y contenido */
.wrapper {
    display: flex;
    /* Usa flexbox para organizar los elementos en línea */
    margin: 0;
    padding: 20px;
}

/* Menú lateral */
.menu-container {
    width: 200px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    background-color: #fff;
}

.menu-header {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
    color: #0099cc;
    border-bottom: 2px dashed #ccc;
    text-align: left;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    border-left: 5px solid #b3b3b3;
    padding-left: 9px;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-list a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.menu-list a:hover {
    text-decoration: underline;
}

/* Contenedor de contenido */
.content-container {
    flex: 1;
    /* Para que el contenido ocupe el resto del espacio */
    padding-left: 20px;
    margin-left: 20px;
    /* Espacio adicional al lado del menú */
}

.content-container h2 {
    margin-top: 20px;
}

.content-container p {
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: #f0f0f0;
    border-top: 2px dashed #ccc;
    color: #666;
    margin: 50px;
}

hr {
    border: 0;
    /* Elimina el estilo por defecto */
    height: 3px;
    /* Controla el grosor de la línea */
    background-color: #086382;
    /* Establece el color de la línea */
    margin: 10px 0;
    /* Ajusta el margen superior e inferior */
}